# Ignore dataset files and local environment files
data/cleaned_openfoodfacts*.csv.gz
data/cleaned_openfoodfacts*.csv
data/*.parquet
data/*.json
data/*.zip
__pycache__/
.ipynb_checkpoints/
.DS_Store
.env
.venv

